/* --------------------------
 * Main Navigation Bar Styles
 * --------------------------
*/

#menu {
    margin-left: -210px; /* "#menu" width */
    width: 210px;
    position: fixed;
    top: 0;
    left: 210px;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scroll: touch;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#menu.active {
    left: 210px;
    width: 210px;
}

#menu a {
    color: #999;
    border: none;
    white-space: normal;
    padding: 0.6em 0 0.6em 0.6em;
}

#menu .pure-menu-open {
    background: transparent;
    border: 0;
}

#menu .pure-menu ul {
    border: none;
    background: transparent;
}

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: #333;
}

.pure-menu-link {
    display: none; /* show this only on small screens */
    top: 0;
    left: 210px; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

#layout.active .pure-menu-link {
    left: 210px;
}

.pure-menu-link:hover,
.pure-menu-link:focus {
    background: #000;
}

.pure-menu-link span {
    position: relative;
    display: block;
}

.pure-menu-link span,
.pure-menu-link span:before,
.pure-menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: .2em;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
}

.pure-menu-link span:before,
.pure-menu-link span:after {
    position: absolute;
    margin-top: -.6em;
    content: " ";
}

.pure-menu-link span:after {
    margin-top: .6em;
}

.pure-menu-link.active span {
    background: transparent;
}

.pure-menu-link.active span:before {
    -webkit-transform: rotate(45deg) translate(.5em, .4em);
       -moz-transform: rotate(45deg) translate(.5em, .4em);
        -ms-transform: rotate(45deg) translate(.5em, .4em);
         -o-transform: rotate(45deg) translate(.5em, .4em);
            transform: rotate(45deg) translate(.5em, .4em);
}

.pure-menu-link.active span:after {
    -webkit-transform: rotate(-45deg) translate(.45em, -.35em);
       -moz-transform: rotate(-45deg) translate(.45em, -.35em);
        -ms-transform: rotate(-45deg) translate(.45em, -.35em);
         -o-transform: rotate(-45deg) translate(.45em, -.35em);
            transform: rotate(-45deg) translate(.45em, -.35em);
}

#menu .pure-menu-selected {
    background: rgb(0, 120, 231);
}

#menu .pure-menu-selected a {
    color: #fff;
}

#menu li.pure-menu-selected a:hover,
#menu li.pure-menu-selected a:focus {
    background: none;
}


/* --------------------------
 * Responsive Styles
 * --------------------------
*/

@media (max-width: 870px) {
    #menu {
        left: 0;
    }

    #layout {
        padding-left: 0;
    }

    .pure-menu-link {
        position: fixed;
        left: 0;
        display: block;
    }
}
