/* Index page */

#meetings-empty,
#followups-empty {
    margin-bottom: 3em;
}

.event-details-wrap {
    min-height: 120px;
}

#duration .input-wrap {
    padding: 0 .5em;
}

#duration input[type="number"] {
    display: inline;
    width: 4em;
    padding: 0.6em 1em;
    font-size: .9em;
    text-align: center;
}

#duration .semicolon {
    display: inline-block;
    font-weight: bold;
}

#event-details .label,
#event-details .value {
    font-size: 150%;
}

#duration legend,
#event-details legend {
    padding-left: .4em;
}

/* Large input */

#event-fieldset {
    width: 100%;
    padding: 0;
}

#event-fieldset .input-event {
    margin-right: 1em;
    padding: 1em 1.8em;
    font-size: 1em;
}

#event-fieldset .pure-button {
    margin-top: 0;
    padding: 0.8em 1.2em;
}

/* Calendar */

.calendar {
    height: 192px;
}

.calendar .has-events {
    color: rgb(0, 120, 231);
    font-weight: bold;
    border: 1px solid rgb(0, 120, 231);
}

.calendar .has-events.ui-state-active {
    color: #fff;
    font-weight: normal;
}

.calendar .has-events.ui-state-highlight {
    color: #000;
    font-weight: normal;
    border-color: #a9e2ff;
}
