/* Index page */

#meetings-empty,
#followups-empty {
    margin-bottom: 3em;
}

.event-details-wrap {
    min-height: 120px;
}

#duration .input-wrap {
    padding: 0 .5em;
}

#duration input[type="number"] {
    width: 4em;
    padding: 0.6em 1em;
    font-size: .9em;
    text-align: center;
}

#duration .semicolon {
    display: inline-block;
    font-weight: bold;
}

#event-details .label,
#event-details .value {
    font-size: 150%;
}

.duration legend,
#event-details legend {
    padding-left: .4em;
}

/* Large input */

#event-fieldset {
    padding-bottom: 1.2em;
}

#event-fieldset input.input-event {
    width: 85%;
    margin-right: 1em;
    padding: 1em 1.8em;
    font-size: 1em;
}

#event-fieldset .pure-button {
    padding: 0.8em 1.2em;
}

/* Calendar */

.calendar {
    height: 192px;
}
