/* List */

#date-heading {
    color: rgb(202, 60, 60);
}

.event-table tr td {
    padding: .8em 1em;
    border-bottom: 1px solid #e5e5e5;
}

.event-table tr td:first-child {
    padding-left: 0;
}

.event-table tr td:last-child {
    padding-right: 0;
}

.event-table .fa-check {
    color: #0ab21f;
}

.event-table .fa-check.gray {
    color: #ccc;
}

.event-table .title {
    color: #222;
}

.event-table .done {
    color: #959595;
    text-decoration: line-through;
}

.event-table .time {
    border-bottom: 1px solid rgb(202, 60, 60);
}

.event-table .time.done {
    border-bottom: none;
}

/* Add task */

#add-task {
    padding: 0.9em 1.4em;
}

/* Calendar */

.calendar .has-events {
    color: rgb(0, 120, 231);
    font-weight: bold;
    border: 1px solid rgb(0, 120, 231);
}

.calendar .has-events.ui-state-active {
    color: #fff;
    font-weight: normal;
}

.calendar .has-events.ui-state-highlight {
    color: #000;
    font-weight: normal;
    border-color: #a9e2ff;
}
