body {
    background-color: #e3e3e3;
}

.container {
    max-width: 400px;
    margin: 8em auto;
    padding: 0 2em;
}

.l-box {
    padding: .5em 0;
}

#large-logo {
    text-align: center;
}

#large-logo img {
    margin-right: .8em;
}

#login input[type="email"],
#login input[type="password"] {
    padding: 15px;
    font-size: 1.3em;
}

#footer {
    width: 100%;
}

#footer .l-box {
    padding-left: 1em;
    padding-right: 1em;
}
