<font face="Comic Sans MS, sans-serif">
    Hello there,

    <br><br>

    Good day to you!

    <br><br>

    Thank you for recent registration at Onekloud CRM.
    <br>
    We would really like to know, how is your experience with our Onekloud CRM
    so far?

    <br><br>

    Looking forward to hearing from you soon.

    <br><br>

    Have a great day ahead.

    <br><br>

    Best regards,

    <br><br>

    <font size="3">
        Samantha Chen
        <br>
        Head of Sales
    </font>
    <br>
    013 372 7700
    <br>
    <a href="http://www.onekloud.com/" target="_blank">
        www.onekloud.com
    </a>
</font>
