{% load static %}

<font face="Comic Sans MS, sans-serif">
    Hello there,

    <br><br>

    Good day to you!

    <br><br>

    Thank you for recent registration at Onekloud CRM.
    <br>
    We would really like to know, how is your experience with our Onekloud CRM
    so far?

    <br><br>

    Please feel free to contact me directly with any questions you have.

    <br><br>

    We appreciate your business!

    <br><br>

    Best Regards,

    <br><br>

    <table width="350">
        <tbody>
            <tr>
                <td valign="top">
                    <img src="{% static 'accounts/onekloud/img/emailsign_aldash.jpg' %}">
                </td>
                <td align="left">
                    <font style="line-height: 16px; font-size: 14px;">
                        <font color="#009ac9">
                            <b>Aldash Biibosunov</b>
                        </font>
                        <br>
                        CEO
                        <br>
                        <a href="www.onekloud.com">www.onekloud.com</a>
                        <br>
                        <a href="mailto:aldash@onekloud.com">aldash@onekloud.com</a>
                        <br>
                        Phone: <a href="tel:+60123009611" value="+60123009611">+60 12 300 9611</a>
                    </font>
                </td>
            </tr>
        </tbody>
    </table>
</font>
