<!doctype html>
{% load static core_extras %}

<html>
<head>
    {# Meta information. #}
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width">

    <title>Sign In • Onekloud</title>

    {# Vendor CSS files. #}
    <link href="{% static 'css/vendor/font_awesome/css/font-awesome.css' %}" rel="stylesheet">
    {% include 'vendor/purecss.html' %}

    <link href="{% static 'img/onekloud/favicon.ico' %}" rel="shortcut icon">

    {# Onekloud CSS files. #}
    <link href="{% static 'css/onekloud/core.css' %}" rel="stylesheet">
    <link href="{% static 'css/onekloud/buttons.css' %}" rel="stylesheet">
    <link href="{% static 'css/onekloud/forms.css' %}" rel="stylesheet">
    <link href="{% static 'css/onekloud/messages.css' %}" rel="stylesheet">
    <link href="{% static 'accounts/onekloud/css/accounts.css' %}" rel="stylesheet">
</head>
<body>

{% include 'onekloud/messages.html' %}

<div id="login" class="pure-g-r">
    <div class="pure-u-1">
        <div class="container">
            <div id="large-logo" class="l-box">
                <img src="{% static 'img/onekloud/logo_large.png' %}" alt="Sign In to Onekloud">
            </div>
            <form class="pure-form" method="post">

                {{ form.errors }}

                <div class="l-box">
                    <fieldset class="pure-group">
                        {{ form.email|attributes:"class: pure-input-1, placeholder: Email, required" }}
                        {{ form.password|attributes:"class: pure-input-1, placeholder: Password, required" }}
                    </fieldset>
                </div>

                <div class="l-box">
                    <button class="pure-button pure-button-xlarge pure-button-primary pull-right" type="submit">
                        <i class="fa fa-sign-in"></i> Sign In
                    </button>
                </div>

                {% csrf_token %}
            </form>
        </div>
    </div>
</div>

{% include 'onekloud/footer.html' %}

{# Vendor JavaScript files. #}
<script src="{% static 'js/vendor/jquery/jquery-2.0.3.js' %}"></script>

{# Onekloud JavaScript files. #}
<script src="{% static 'accounts/onekloud/js/load.js' %}"></script>

</body>
</html>
