{% extends 'onekloud/base.html' %}
{% load static core_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'events/onekloud/css/events.css' %}">
{% endblock %}

{% block content %}
<div class="pure-g-r">
    <div class="pure-u-3-4">
        <div id="step-1" class="l-box">
            <h2 id="date-heading" class="notopspace bottom-mrg">
                <i class="fa fa-clock-o"></i>&nbsp;
                {% if is_today %}Today &nbsp;–&nbsp;{% endif %}
                {{ date }}
            </h2>

            <h3 class="noborder nopadding">Meetings</h3>
            <table class="pure-table pure-table-horizontal event-table noborder bottom-mrg">
                <tbody>
                    {% for meeting_tuple in meeting_list %}
                        {% with meeting_tuple.1 as meeting %}
                            <tr>
                                <td width="1%">
                                    <a href="{% url 'events:toggle-status' meeting.pk %}">
                                        <i class="fa fa-check{% if not meeting.is_done %} gray{% endif %}"></i>
                                    </a>
                                </td>
                                <td width="10%" align="left">
                                    <span class="time{% if meeting.is_done %} done{% endif %}">
                                        {{ meeting_tuple.0 }}
                                    </span>
                                </td>
                                <td>
                                    <a href="{% url 'events:edit-meeting' meeting.pk %}"
                                       class="title{% if meeting.is_done %} done{% endif %}">
                                        {{ meeting.subject }}
                                    </a>
                                    {% if IS_HEAD %}
                                        <small class="gray">
                                            &nbsp; by {{ meeting.user.get_short_name }}
                                        </small>
                                    {% endif %}
                                </td>
                                <td width="1%" align="right">
                                    <a href="{% url 'events:delete' meeting.pk %}"
                                       class="red" title="Remove"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% endwith %}
                    {% empty %}
                        <p class="gray">No meetings this day.</p>
                    {% endfor %}
                </tbody>
            </table>

            <h3 class="noborder nopadding">Follow-Ups</h3>
            <table class="pure-table pure-table-horizontal event-table noborder">
                <tbody>
                    {% for followup in followup_list %}
                        <tr>
                            <td width="1%">
                                <a href="{% url 'events:toggle-status' followup.pk %}">
                                    <i class="fa fa-check{% if not followup.is_done %} gray{% endif %}"></i>
                                </a>
                            </td>
                            <td width="10%" align="left">
                                <span class="time{% if followup.is_done %} done{% endif %}">
                                    {{ followup.date|date:"M d" }}
                                </span>
                            </td>
                            <td>
                                <a href="{% url 'events:edit-followup' followup.pk %}"
                                   class="title{% if followup.is_done %} done{% endif %}">
                                    {{ followup.subject }}
                                </a>
                                {% if IS_HEAD %}
                                    <small class="gray">
                                        &nbsp; by {{ followup.user.get_short_name }}
                                    </small>
                                {% endif %}
                            </td>
                            <td width="1%" align="right">
                                <a href="{% url 'events:delete' followup.pk %}"
                                   class="red" title="Remove"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <p class="gray">No follow-ups this day.</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="pure-u-1-4">
        <div class="l-box">
            <h3 class="noborder nopadding notopspace">
                <i class="fa fa-filter"></i>&nbsp;
                Filter
            </h3>
            <div id="step-3" class="calendar bottom-mrg"></div>

            <div id="step-2">
                <h3 class="noborder nopadding">
                    <i class="fa fa-plus"></i>&nbsp;
                    Add task
                </h3>
                <form class="pure-form" method="post" autocomplete="off">
                    {% csrf_token %}
                    <input type="text" name="task" id="add-task" class="pure-input-1 pure-input-rounded bottom-mrg"
                           placeholder="E.g. Meet Sam on Dec 15th" required>
                    <button type="submit" class="pure-button pure-button-small pure-button-error pull-right">
                        Add
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

{# Modal - Offer Tour #}
<div id="offer-tour-modal" class="modal">
    <p>Hello there! Would you like to take a tour?</p>
</div>
{# End Modal. #}
{% endblock %}

{% block menu-events %}
pure-menu-selected
{% endblock %}

{% block js %}
<script>
  var eventsURI = "{% url 'events:index' %}";
  var eventsDatesURI = "{% url 'events:api:dates' %}";
  var customersListURI = "{% url 'customers:list' %}";

  {% if manual_tour %}
    var isManualTour = true;
  {% else %}
    var isManualTour = false;
  {% endif %}
</script>
<script src="{% static 'events/onekloud/js/lib.js' %}"></script>
<script src="{% static 'events/onekloud/js/load.js' %}"></script>
{% endblock %}
