{% extends 'onekloud/base.html' %}
{% load static core_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'events/onekloud/css/events.css' %}">
{% endblock %}

{% block content %}
<div class="pure-g-r">
    <div class="pure-u-3-4">
        <div class="l-box">
            <h3>Create new</h3>
            <form class="pure-form" method="post">
                {% csrf_token %}
                {{ event_form.errors }}
                <fieldset id="event-fieldset">
                    {{ event_form.text|attributes:"required: required, class: pure-input-2-3 pure-input-rounded input-event, autocomplete: off, placeholder: Meet client on 15 December at 18.30 @ Starbucks" }}
                    <button class="pure-button pure-button-large pure-input-rounded pure-button-primary"
                            type="submit">Add</button>
                </fieldset>
                <div class="event-details-wrap">
                    <div id="event-details" class="pure-g-r">
                        <div class="pure-u-2-3">
                            <div class="pure-g">
                                <div class="pure-u-1-6">
                                    <div class="l-box">
                                        <span class="label gray">Event:</span>
                                    </div>
                                    <div class="l-box">
                                        <span class="label gray">When:</span>
                                    </div>
                                </div>
                                <div class="pure-u-5-6">
                                    <div class="l-box">
                                        <span id="event-type" class="value"></span>
                                    </div>
                                    <div class="l-box">
                                        <span id="event-date" class="value"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="duration" class="pure-u-1-3">
                            <div class="l-box">
                                <span class="label gray">Duration:</span>
                            </div>
                            <div class="input-wrap">
                                {{ event_form.hours|attributes:"required: required, class: pure-input-rounded, placeholder: Hrs, min: 0, max: 24" }}
                                <span class="semicolon gray">:</span>
                                {{ event_form.minutes|attributes:"required: required, class: pure-input-rounded, placeholder: Mins, min: 0, max: 60" }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="pure-u-1-4">
        <div class="l-box">
            <h3>Browse</h3>
            <div class="calendar"></div>
        </div>
    </div>

    <div class="pure-u-1">
        <div class="l-box">
            <h3 id="date-heading" class="gray noborder nopadding">Today&nbsp; – &nbsp;{{ today }}</h3>

            <h4>Meetings</h4>
            <table id="meeting-table" class="pure-table pure-table-horizontal" width="100%"
                   {% if not meeting_list %}style="display: none"{% endif %}>
                <thead>
                    <th align="left">Time</th>
                    <th align="left">Subject</th>
                    {% if IS_HEAD %}
                        <th width="10%">Manager</th>
                    {% endif %}
                    <th width="1%">Action</th>
                </thead>
                <tbody>
                    {% for meeting_tuple in meeting_list %}
                        <tr>
                            <td width="5%" align="center">
                                {{ meeting_tuple.0 }}
                            </td>
                            <td>
                                <a href="{% url 'events:edit-meeting' meeting_tuple.1.pk %}">
                                    {{ meeting_tuple.1.subject }}
                                </a>
                            </td>
                            {% if IS_HEAD %}
                                <td>
                                    {{ meeting_tuple.1.user.get_short_name }}
                                </td>
                            {% endif %}
                            <td align="center">
                                <a href="{% url 'events:delete-meeting' meeting_tuple.1.pk %}"
                                   class="red" title="Remove"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not meeting_list %}
                <p id="meetings-empty">No meetings created yet.</p>
            {% endif %}

            <h4>Follow-Ups</h4>
            <table id="followup-table" class="pure-table pure-table-horizontal" width="100%"
                   {% if not followup_list %}style="display: none"{% endif %}>
                <thead>
                    <th align="left">Subject</th>
                    {% if IS_HEAD %}
                        <th width="10%">Manager</th>
                    {% endif %}
                    <th width="1%">Action</th>
                </thead>
                <tbody>
                    {% for followup in followup_list %}
                        <tr>
                            <td>
                                <a href="{% url 'events:edit-followup' followup.pk %}">
                                    {{ followup.subject }}
                                </a>
                            </td>
                            {% if IS_HEAD %}
                                <td>
                                    {{ followup.user.get_short_name }}
                                </td>
                            {% endif %}
                            <td align="center">
                                <a href="{% url 'events:delete-followup' followup.pk %}"
                                   class="red" title="Remove"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not followup_list %}
                <p id="followups-empty">No follow-ups created yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block menu-events %}
pure-menu-selected
{% endblock %}

{% block js %}
<script src="{% static 'events/onekloud/js/lib.js' %}"></script>
<script src="{% static 'events/onekloud/js/load.js' %}"></script>
{% endblock %}
