.chart-box {
    min-width: 200px;
}

.chart-details {
    margin-bottom: .5em;
}

.chart-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: .2em;
}

#sales-trend .chart-details {
    display: inline-block;
    margin-right: 2em;
}
