{% extends 'onekloud/base.html' %}
{% load static core_extras %}

{% block top-right %}
<a id="step-2" class="pure-button pure-button-primary" href="{% url 'customers:create' %}">
    New {{ verbose_name }}
</a>
{% endblock %}

{% block content %}
<div id="step-1" class="l-box">
    <form class="pure-form" method="get">
        <input type="text" name="search" placeholder="Search">
    </form>
    {% if customer_list %}
        <table class="pure-table pure-table-horizontal" width="100%">
            <thead>
                <tr>
                    <th align="left">
                        <a href="?sort_by=name">
                            Name
                            &nbsp;
                            {% ifequal sorted_by name %}
                                <i class="fa fa-sort-alpha-asc"></i>
                            {% else %}
                                <i class="fa fa-sort"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th align="left">Phone Number</th>
                    <th align="left">
                        <a href="?sort_by=email">
                            Email
                            &nbsp;
                            {% ifequal sorted_by email %}
                                <i class="fa fa-sort-alpha-asc"></i>
                            {% else %}
                                <i class="fa fa-sort"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th align="left">Position</th>
                    <th align="left">
                        <a href="?sort_by=company">
                            Company
                            &nbsp;
                            {% ifequal sorted_by company %}
                                <i class="fa fa-sort-alpha-asc"></i>
                            {% else %}
                                <i class="fa fa-sort"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th align="left">
                        <a href="?sort_by=country">
                            Country
                            &nbsp;
                            {% ifequal sorted_by country %}
                                <i class="fa fa-sort-alpha-asc"></i>
                            {% else %}
                                <i class="fa fa-sort"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th align="left">Manager</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customer_list %}
                    <tr{% if forloop.counter0|divisibleby:2 %} class="pure-table-odd"{% endif %}>
                        <td>
                            <a href="{{ customer.get_absolute_url }}">{{ customer.get_full_name }}</a>
                        </td>
                        <td>{{ customer.cell_phone|default:"-" }}</td>
                        <td>{{ customer.email|default:"-" }}</td>
                        <td>{{ customer.position|default:"-" }}</td>
                        <td>{{ customer.company|default:"-" }}</td>
                        <td>{{ customer.country|default:"-" }}</td>
                        <td>{{ customer.user.get_short_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No customers yet. <a href="{% url 'customers:create' %}">Create one!</a></p>
    {% endif %}

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <div class="page-prev">
                    <a href="{% url 'customers:list' %}?page={{ page_obj.previous_page_number }}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
            {% endif %}
            <div class="page-current">
                {% for page in paginator.page_range %}
                    {% ifequal page page_obj.number %}
                        <span>{{ page }}</span>
                    {% else %}
                        <a href="{% url 'customers:list' %}?page={{ page }}">{{ page }}</a>
                    {% endifequal %}
                {% endfor %}
            </div>
            {% if page_obj.has_next %}
                <div class="page-next">
                    <a href="{% url 'customers:list' %}?page={{ page_obj.next_page_number }}">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block menu-customers %}
pure-menu-selected
{% endblock %}

{% block js %}
<script>
  var customersCreateURI = "{% url 'customers:create' %}";
</script>
<script src="{% static 'customers/onekloud/js/lib.js' %}"></script>
<script src="{% static 'customers/onekloud/js/load.js' %}"></script>
{% endblock %}
