{% extends 'onekloud/base.html' %}
{% load static core_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'customers/onekloud/css/customers.css' %}">
{% endblock %}

{% block content %}
<div id="step-1" class="l-box">
    <div id="filters" class="bottom-mrg pull-left">
        <form class="pure-form" method="get">
            <input type="text" name="search" placeholder="Enter keyword">
            <input class="pure-button pure-button-small pure-button-primary"
                   type="submit" value="Search">
        </form>
    </div>

    <div id="controls" class="bottom-mrg pull-right">
        {% comment %}
        <a class="pure-button pure-button-small pure-button-primary"
           href="{% url 'customers:suggestedcompany_list' %}">
            <i class="fa fa-magic"></i>&nbsp;
            Find more
        </a>
        {% endcomment %}

        <a id="step-2" class="pure-button pure-button-small pure-button-error"
           href="{% url 'customers:create' %}">
            <i class="fa fa-plus"></i>&nbsp;
            Add {{ verbose_name }}
        </a>
    </div>

    <div class="clearfix"></div>

    {% if customer_list %}
        <table class="pure-table pure-table-horizontal" width="100%">
            <thead>
                <tr>
                    <th align="left">
                        {% ifequal sorted_by 'name' %}
                            <a href="{% url 'customers:list' %}">
                                Name &nbsp;
                                <i class="fa fa-sort-asc"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'customers:list' %}?sort_by=name">
                                Name &nbsp;
                                <i class="fa fa-sort"></i>
                            </a>
                        {% endifequal %}
                    </th>
                    <th align="left">Phone Number</th>
                    <th align="left">
                        {% ifequal sorted_by 'email' %}
                            <a href="{% url 'customers:list' %}">
                                Email &nbsp;
                                <i class="fa fa-sort-asc"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'customers:list' %}?sort_by=email">
                                Email &nbsp;
                                <i class="fa fa-sort"></i>
                            </a>
                        {% endifequal %}
                    </th>
                    <th align="left">Position</th>
                    <th align="left">
                        {% ifequal sorted_by 'company' %}
                            <a href="{% url 'customers:list' %}">
                                Company &nbsp;
                                <i class="fa fa-sort-asc"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'customers:list' %}?sort_by=company">
                                Company &nbsp;
                                <i class="fa fa-sort"></i>
                            </a>
                        {% endifequal %}
                    </th>
                    <th align="left">
                        {% ifequal sorted_by 'country' %}
                            <a href="{% url 'customers:list' %}">
                                Country &nbsp;
                                <i class="fa fa-sort-asc"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'customers:list' %}?sort_by=country">
                                Country &nbsp;
                                <i class="fa fa-sort"></i>
                            </a>
                        {% endifequal %}
                    </th>
                    <th align="left">Manager</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customer_list %}
                    <tr{% if forloop.counter0|divisibleby:2 %} class="pure-table-odd"{% endif %}>
                        <td>
                            <a href="{{ customer.get_absolute_url }}">{{ customer.first_name }} {{ customer.last_name }}</a>
                        </td>
                        <td>{{ customer.cell_phone|default:"-" }}</td>
                        <td>{{ customer.email|default:"-" }}</td>
                        <td>{{ customer.position|default:"-" }}</td>
                        <td>{{ customer.company|default:"-" }}</td>
                        <td>{{ customer.country|default:"-" }}</td>
                        <td>{{ customer.user.get_short_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {% if query %}
                No customers found with keyword <b>"{{ query }}"</b>.
                <a href="{% url 'customers:list' %}">Go back.</a>
            {% else %}
                No customers yet.
                <a href="{% url 'customers:create' %}">Create one!</a>
            {% endif %}
        </p>
    {% endif %}

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <div class="page-prev">
                    <a href="{% url 'customers:list' %}?page={{ page_obj.previous_page_number }}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
            {% endif %}
            <div class="page-current">
                {% for page in paginator.page_range %}
                    {% ifequal page page_obj.number %}
                        <span>{{ page }}</span>
                    {% else %}
                        <a href="{% url 'customers:list' %}?page={{ page }}">{{ page }}</a>
                    {% endifequal %}
                {% endfor %}
            </div>
            {% if page_obj.has_next %}
                <div class="page-next">
                    <a href="{% url 'customers:list' %}?page={{ page_obj.next_page_number }}">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block menu-customers %}
pure-menu-selected
{% endblock %}

{% block js %}
<script>
  var customersCreateURI = "{% url 'customers:create' %}";
</script>
<script src="{% static 'customers/onekloud/js/lib.js' %}"></script>
<script src="{% static 'customers/onekloud/js/load.js' %}"></script>
{% endblock %}
