{% extends 'onekloud/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'customers/onekloud/css/customers.css' %}">
{% endblock %}

{% block top-right %}
<a class="pure-button pure-button-small pure-button-primary" href="{% url 'customers:list' %}">
    <i class="fa fa-reply"></i>&nbsp;
    Back
</a>
{% endblock %}

{% block content %}
<div class="l-box">
    <p class="gray">
        <i class="fa fa-info-circle"></i>&nbsp;
        List is refreshed every day.
    </p>

    <table class="pure-table pure-table-horizontal" width="100%">
        <thead>
            <tr>
                <th align="left">Company name</th>
                <th align="left">Industry</th>
                <th align="left">City</th>
                <th align="left">Country</th>
            </tr>
        </thead>
        <tbody>
            {% for company in suggestedcompany_list %}
                <tr{% if forloop.counter0|divisibleby:2 %} class="pure-table-odd"{% endif %}>
                    <td>{{ company.name|default:"-" }}</td>
                    <td>{{ company.industry|default:"-" }}</td>
                    <td>{{ company.city|default:"-" }}</td>
                    <td>{{ company.country|default:"-" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block menu-customers %}
pure-menu-selected
{% endblock %}
