{% extends 'onekloud/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'customers/onekloud/css/customers.css' %}">
{% endblock %}

{% block top-right %}
<a class="pure-button pure-button-small pure-button-primary" href="{% url 'customers:list' %}">
    <i class="fa fa-reply"></i>&nbsp;
    Back
</a>
{% endblock %}

{% block content %}
<div class="l-box">
    <p class="gray">
        <i class="fa fa-info-circle"></i>&nbsp;
        List is updated every day.
    </p>

    <table class="pure-table pure-table-horizontal" width="100%">
        <thead>
            <tr>
                <th align="left">Company name</th>
                <th align="left">Industry</th>
                <th align="left">Phone</th>
                <th align="left">City</th>
                <th align="left">Country</th>
            </tr>
        </thead>
        <tbody>
            {% for company in suggestedcompany_list %}
                {% if forloop.counter <= 5 %}
                    <tr{% if forloop.counter0|divisibleby:2 %} class="pure-table-odd"{% endif %}>
                        <td>{{ company.name }}</td>
                        <td>{{ company.industry }}</td>
                        <td>{{ company.phone }}</td>
                        <td>{{ company.city }}</td>
                        <td>{{ company.country }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <div class="page-prev">
                    <a href="{% url 'customers:list' %}?page={{ page_obj.previous_page_number }}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
            {% endif %}
            <div class="page-current">
                {% for page in paginator.page_range %}
                    {% ifequal page page_obj.number %}
                        <span>{{ page }}</span>
                    {% else %}
                        <a href="{% url 'customers:list' %}?page={{ page }}">{{ page }}</a>
                    {% endifequal %}
                {% endfor %}
            </div>
            {% if page_obj.has_next %}
                <div class="page-next">
                    <a href="{% url 'customers:list' %}?page={{ page_obj.next_page_number }}">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block menu-customers %}
pure-menu-selected
{% endblock %}
